.preferences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  .preferences-heading {
    text-align: center;
    color: var(--darkblue);
    font-size: 2.5rem;
  }
}

.submitbutton {
  background: var(--darkblue);
  color: #fff;
  width: 25vw;
  height: 3rem;
  margin-top: 2rem;
}

.submitbutton:hover {
  background: var(--lightblue);
}

@media (max-width: 768px) {
  .submitbutton {
    width: 60vw;
    height: 4rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 540px) {
  .preferences-container {
    margin: 1rem;

    .preferences-heading {
      font-size: 1.5rem;
    }
  }

  .submitbutton {
    width: 80vw;
    height: 3rem;
    margin-top: 1rem;
  }
}
